#login-button, #logout{
    background-color: rgb(226, 124, 8);
    border: none;
    color: rgb(255, 255, 255);
    padding: 6px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}